
@import "framework/neat/neat-helpers";


$column: 208px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1400);


$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);