/*-----------------------------------*/
/*  Breakpoints
/*-----------------------------------*/


@mixin respond-to($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) { @content; }
}

@mixin layout_mobile {
    @media only screen and (max-width: 700px) { @content; }
}




/*-----------------------------------*/
/*  Responsive items
/*-----------------------------------*/

@mixin video_container {
	position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto;
	iframe, object, embed {  position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}

@mixin bgImage {
	background-size: cover; background-repeat: no-repeat; background-position: center center;
}



/*-----------------------------------*/
/*  General
/*-----------------------------------*/


@mixin clearfix {
	&:after {
		content: ""; display: table; clear: both;
	}
}




/*-----------------------------------*/
/*  Animation
/*-----------------------------------*/

@mixin animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}

// Fade-in / Fade-out
@-webkit-keyframes fade-in { 0% {opacity: 0;} 100% {opacity: 1;} }
@-moz-keyframes    fade-in { 0% {opacity: 0;} 100% {opacity: 1;} }
@keyframes         fade-in { 0% {opacity: 0;} 100% {opacity: 1;} }
@mixin fade-in {
  @include animated();
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
}
 
@-webkit-keyframes fade-out { 0% {opacity: 1;} 100% {opacity: 0;} }
@-moz-keyframes    fade-out { 0% {opacity: 1;} 100% {opacity: 0;} }
@keyframes         fade-out { 0% {opacity: 1;} 100% {opacity: 0;} }
@mixin fade-out {
  @include animated();
  -webkit-animation-name: fade-out;
  -moz-animation-name: fade-out;
  animation-name: fade-out;
}

// Fade-up / Fade-down
@-webkit-keyframes fade-in-up { 0% { opacity: 0; -webkit-transform: translateY(20px); } 100% { opacity: 1; -webkit-transform: translateY(0); } }
@-moz-keyframes    fade-in-up { 0% { opacity: 0; -moz-transform: translateY(20px);}     100% { opacity: 1; -moz-transform: translateY(0); } }
@keyframes         fade-in-up { 0% { opacity: 0;  transform: translateY(20px); }        100% { opacity: 1; transform: translateY(0); } }
@mixin fade-in-up {
  @include animated();
  -webkit-animation-name: fade-in-up;
  -moz-animation-name: fade-in-up;
  animation-name: fade-in-up;
}

 
// Fade-left
@-webkit-keyframes fade-in-left { 0% { opacity: 0; -webkit-transform: translateX(-20px); } 100% { opacity: 1; -webkit-transform: translateX(0); } }
@-moz-keyframes    fade-in-left { 0% { opacity: 0; -moz-transform: translateX(-20px); }    100% { opacity: 1; -moz-transform: translateX(0); } }
@keyframes         fade-in-left { 0% { opacity: 0; transform: translateX(-20px); }         100% { opacity: 1; transform: translateX(0); } }
@mixin fade-in-left {
  @include animated();
  -webkit-animation-name: fade-in-left;
  -moz-animation-name: fade-in-left;
  animation-name: fade-in-left;
}
@-webkit-keyframes fade-out-left { 0% { opacity: 1; -webkit-transform: translateX(0); } 100% { opacity: 0; -webkit-transform: translateX(-20px); } }
@-moz-keyframes    fade-out-left { 0% { opacity: 1; -moz-transform: translateX(0); }    100% { opacity: 0; -moz-transform: translateX(-20px); } }
@keyframes         fade-out-left { 0% { opacity: 1; transform: translateX(0); }         100% { opacity: 0; transform: translateX(-20px); } }
@mixin fade-out-left {
  @include animated();
  -webkit-animation-name: fade-out-left;
  -moz-animation-name: fade-out-left;
  animation-name: fade-out-left;
}
 
// Fade-right
@-webkit-keyframes fade-in-right { 0% { opacity: 0; -webkit-transform: translateX(20px); } 100% { opacity: 1; -webkit-transform: translateX(0); } }
@-moz-keyframes    fade-in-right { 0% { opacity: 0; -moz-transform: translateX(20px); }    100% { opacity: 1; -moz-transform: translateX(0); } }
@keyframes         fade-in-right { 0% { opacity: 0; transform: translateX(20px); }         100% { opacity: 1; transform: translateX(0); } }
@mixin fade-in-right {
  @include animated();
  -webkit-animation-name: fade-in-right;
  -moz-animation-name: fade-in-right;
  animation-name: fade-in-right;
}
@-webkit-keyframes fade-out-right { 0% { opacity: 1; -webkit-transform: translateX(0); } 100% { opacity: 0; -webkit-transform: translateX(20px); } }
@-moz-keyframes    fade-out-right { 0% { opacity: 1; -moz-transform: translateX(0); }    100% { opacity: 0;  -moz-transform: translateX(20px); } }
@keyframes         fade-out-right { 0% { opacity: 1; transform: translateX(0); }         100% { opacity: 0; transform: translateX(20px); } }
@mixin fade-out-right {
  @include animated();
  -webkit-animation-name: fade-out-right;
  -moz-animation-name: fade-out-right;
  animation-name: fade-out-right;
}
