/*-----------------------------------*/
/*  Font Mixins
/*-----------------------------------*/

@mixin defaultFont { font-family: Helvetica, Arial; -webkit-font-smoothing: antialiased; }


/*-----------------------------------*/
/*  Base Colours
/*-----------------------------------*/

$bgColor: #fff;
$textColor: rgba(88,89,91,1);
$spotColor: rgba(237,63,53,1);
$grey: rgba(172,172,173,1);
$midgrey: rgba(199,200,202,1);
$lightgrey: rgba(249,250,250,1);




/*-----------------------------------*/
/*  Global Type Styles
/*-----------------------------------*/

h1, h2, h3, h4, h5, p, li {
	@include defaultFont; font-size:16px; line-height: 1.4em; letter-spacing: normal;
	color: $textColor; font-weight: normal; margin:0;
}

a, a:active, a:link , a:visited { 
	color:$textColor; text-decoration: none; border-bottom: 1px solid $textColor;
	&:hover { color:$textColor; border-bottom: 1px solid $grey; }
}