/*-----------------------------------*/
/*  Global Layout
/*-----------------------------------*/

body {

	color: $textColor;
	@include defaultFont;

	.container {
		@include outer-container;
		margin: 0 auto; width: 90%;
	}

	&.pace-done {
		.content { opacity: 1; }
	}

	.content {
	 	opacity: 0;
	}

}
