header {

	padding:50px 0px;

	#logo {
		@include span-columns(6);
	}

	nav {
		@include span-columns(6);



		ul {
			margin:0px; text-align: right;
			li {
				display: inline-block; padding:0px 10px; opacity: 0.6;
				&.current_page_item { opacity: 1; }

			}
		}
	}



}